<h2>Animais: </h2>

<ul>
    <li *ngFor="let animal of animals">
        Nome: <a routerLink="/list/{{animal.id}}" >{{animal.name}}</a> - Tipo: {{animal.type}}
        <button (click)="showAge(animal)">Detalhes</button>
        <button (click)="onDelete(animal)">Deletar</button>
    </li>
</ul>

<p>{{animalDetails}}</p>
<a routerLink="/animal/novo">Novo</a>

<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja remover esse Animal?</p>
        <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
</ng-template>